<h1> DOE Rule Tool </h1>

<div>

	<form action='/product-dockets' method="POST">

	<select name="product">
	  <option value="Direct Heating Equipment">Direct Heating Equipment</option>
	  <option value="Residential Furnaces">Residential Furnaces</option>
	  <option value="Commercial Packaged Boilers">Commercial Packaged Boilers</option>
	  <option value="Hearth Products">Hearth Products</option>
	  <option value="Pool Heaters">Pool Heaters</option>
	  <option value="Portable Air Conditioners">Portable A/C's</option>
	  <option value="Furnace Fan">Furnace Fans</option>
	  <option value="External Power Supplies">External Power Supplies</option>
	</select>

	<input type="submit">

	</form>

</div>